* {
    font-family: 'Bitter', serif;
}

/* CSS Reset */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

/* Custom CSS */

.fa-facebook-f:before, .fa-facebook:before {
    content: "\f082";
    color: aliceblue;
}

.fa-brands.fa-square-facebook,
.fa-brands.fa-twitter,
.fa-brands.fa-linkedin {
    color: aliceblue;
}

#icons {
    text-decoration: none;
}

#top-one {
    margin-top: 6px;
}

.top-bar-social {
    float: right;
}

.top-bar {
    height: 40px;
    background: #111;
    font-family: 'Lato', sans-serif;
}

.navigational-menu {
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigational-menu ul {
    margin: 0;
    padding: 0;
}

.navigational-menu ul li {
    margin: 10px;
    padding: 10px;
    list-style: none;
    display: inline-block;
    position: relative;
}

.navigational-menu ul li:hover {
  background: #79B430;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

#logo-one {
    justify-content: center;
    display: flex;
    margin-top: 20px;
}

.content-container {
    text-align: center;
    margin: 50px auto   ;
}

.main-header {
    font-weight: bold;
    font-size: 26px;
    line-height: 70px;
}

.mySentence {
    margin: 30px auto;
}

.article-section {
    gap: 5%;
    display: flex;
    justify-content: center;
    padding: 0 180px;
}

.article-header {
    font-size: 40px;
    font-weight: 700;
}

.article-sentence {
    font-size: 20px;
}

.image-one {
  border: 1px solid #eee;
  border-radius: 3px;
}

.image-one img {
    max-width: 500px;
    height: 100%;
}

.images-one img {
    max-width: 500px;
}

#image-plan img {
    max-width: 500px;
}

.content-part {
    padding: 0 180px;
    font-size: 20px;
}

.my-article1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-header-one {
    margin: 20px auto;
    text-transform: uppercase;
    font-weight: 700;
}

.last-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 900;
    margin: 50px auto;
}

/* Footer */

.main-footer {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

footer {
  background: #222;
  padding: 44px 0;
  color: #777;
  margin: 90px auto;
}

.footer_parent {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Best_Agents_Title,
.footer_about_us {
  color: #4C9BD7;
}

.footer_company_slogan {
  margin: 50px auto;
}

.footer_second_column {
  margin-bottom: 100px;
}

#myButton {
    background: #4b9bd7;
    border: none;
    padding: 3px 20px;
    margin: 5px;
    color: white;
}

.footer_copyright_text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 70px;
  margin-top: 40px;
}

.copyright a {
  color: #999999;
  text-decoration: none;
}

.copyright a:hover {
  color: #fff;
}

hr {
  border: 0.1px solid #777;
  opacity: 0.9;
}